name: CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:

  changes:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      pull-requests: read
    outputs:
      pulumi: ${{ steps.filter.outputs.pulumi }}
      force: ${{ steps.filter.outputs.force }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            pulumi:
              - '.pulumi/**'
            force:
              - '.github/workflows/**'
              - '.github/actions/**'
              - 'mise.toml'

  pulumi-test:
    needs: changes
    if: ${{ needs.changes.outputs.pulumi == 'true' || needs.changes.outputs.force == 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          version: ${{ vars.MISE_VERSION }}
          experimental: true
      - run: go mod download
        working-directory: .pulumi
      - name: Test
        working-directory: .pulumi
        run: mise run test:pulumi

  pulumi-preview:
    needs: changes
    if: ${{ needs.changes.outputs.pulumi == 'true' || needs.changes.outputs.force == 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          version: ${{ vars.MISE_VERSION }}
          experimental: true
      - run: go mod download
        working-directory: .pulumi
      - name: Preview
        uses: pulumi/actions@8582a9e8cc630786854029b4e09281acd6794b58 # v6.6.1
        with:
          command: preview
          stack-name: dev
          work-dir: .pulumi
          refresh: true
          comment-on-pr: false # Pulumi GitHub App経由でコメントするため
          comment-on-summary: true
          suppress-progress: true
          always-include-summary: true
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.PULUMI_GITHUB_TOKEN }}

  pulumi-up:
    needs:
      - changes
      - pulumi-test
      - pulumi-preview
    if: ${{ (needs.changes.outputs.pulumi == 'true' || needs.changes.outputs.force == 'true') && github.ref_name == github.event.repository.default_branch }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          version: ${{ vars.MISE_VERSION }}
          experimental: true
      - run: go mod download
        working-directory: .pulumi
      - name: Up
        uses: pulumi/actions@8582a9e8cc630786854029b4e09281acd6794b58 # v6.6.1
        with:
          command: up
          stack-name: dev
          work-dir: .pulumi
          refresh: true
          comment-on-pr: false # Pulumi GitHub App経由でコメントするため
          comment-on-summary: true
          suppress-progress: true
          always-include-summary: true
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.PULUMI_GITHUB_TOKEN }}
