name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  changes:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      pull-requests: read
    outputs:
      go: ${{ steps.filter.outputs.go }}
      cicd: ${{ steps.filter.outputs.cicd }}
      force: ${{ steps.filter.outputs.force }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            go:
              - '**/*.go'
              - '**/go.mod'
              - '**/go.sum'
              - '**/go.work'
              - '**/go.work.sum'
              - '**/testdata/**'
            cicd:
              - '.github/workflows/**'
              - '.github/actions/**'
            force:
              - '.github/workflows/**'
              - '.github/actions/**'
              - 'mise.toml'

  go-lint:
    needs: changes
    if: ${{ needs.changes.outputs.go == 'true' || needs.changes.outputs.force == 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: jdx/mise-action@e3d7b8d67a7958d1207f6ed871e83b1ea780e7b0 # v3.3.1
        with:
          version: ${{ vars.MISE_VERSION }}
          experimental: true
      - name: Lint
        shell: bash
        run: mise run lint:go

  go-build:
    needs: changes
    if: ${{ needs.changes.outputs.go == 'true' || needs.changes.outputs.force == 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: jdx/mise-action@e3d7b8d67a7958d1207f6ed871e83b1ea780e7b0 # v3.3.1
        with:
          version: ${{ vars.MISE_VERSION }}
          experimental: true
      - run: go mod download
      - name: Build
        shell: bash
        env:
          RELEASE: 1
        run: mise run build

  go-test:
    needs: changes
    if: ${{ needs.changes.outputs.go == 'true' || needs.changes.outputs.force == 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: jdx/mise-action@e3d7b8d67a7958d1207f6ed871e83b1ea780e7b0 # v3.3.1
        with:
          version: ${{ vars.MISE_VERSION }}
          experimental: true
      - run: go mod download
      - name: Test
        shell: bash
        run: mise run test

  infra:
    needs: changes
    if: ${{ needs.changes.outputs.cicd == 'true' || needs.changes.outputs.force == 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: jdx/mise-action@e3d7b8d67a7958d1207f6ed871e83b1ea780e7b0 # v3.3.1
        with:
          version: ${{ vars.MISE_VERSION }}
          experimental: true
      - run: mise run lint:gha
